includes:
    - %rootDir%/../phpstan/conf/bleedingEdge.neon

parameters:
    level: 5
    tmpDir: %rootDir%/../../../var/phpstan
    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true
